.badge {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: $brand-primary;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
    line-height: 16px;
    color: $white;


    //badge.badge-large
    &.badge-large {
        font-size: 24px;

    }

    //.badge.badge-secondary
    &.badge-secondary {
        background-color: $brand-secondary;
    }
}